{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login-page">
    <h2>Zmień hasło</h2>
    {% include 'messages.html' %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password" style="font-size: large">Podaj nowe hasło:</label><br>
          <input type="password" name="new_password" placeholder="Nowe hasło" />
        </div>
        <div class="form-group">
            <label for="new_password2" style="font-size: large">Powtórz nowe hasło:</label><br>
          <input type="password" name="new_password2" placeholder="Powtórz hasło" />
        </div>
        <div class="form-group form-group--buttons">
          <button class="btn" type="submit">Zmień hasło</button>
        </div>
    </form>
    </section>
{% endblock %}